<h1>Movies List</h1>

<% @movies.each do |movie| %>
  <ul>
    <% movie.attributes.each do |key, value| %>
      <li><strong><%= key %>：</strong><%= value %></li>
    <% end %>
  </ul>
  <hr>
<% end %>